<div class="row">
	<h3 class="text-center">STUDENT&nbsp;FORM</h3>
	<br>

	<form class="form-horizontal" name="form">

		<input type="hidden" data-ng-model="department.id">

		<div class="form-group">
			<label for="studentName"
				class="control-label col-sm-2 col-sm-offset-3">FULL&nbsp;NAME
			</label>
			<div class="col-sm-4">
				<input data-ng-model="student.fullName" type="text"
					class="form-control" name="fullName" data-ng-required="true"
					data-ng-pattern="/^[a-zA-Z]{3,}\s[a-zA-Z]{3,}(\s[a-zA-Z]{3,})?$/" />
				<div data-ng-show="form.fullName.$dirty && form.fullName.$invalid"
					class="text-danger">
					<span data-ng-show="form.fullName.$error.required">Please&nbsp;enter&nbsp;a&nbsp;name</span>
					<span data-ng-show="form.fullName.$error.pattern">This&nbsp;is&nbsp;not&nbsp;a&nbsp;valid&nbsp;name</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="fatherName"
				class="control-label col-sm-2 col-sm-offset-3">FATHER&nbsp;NAME
			</label>
			<div class="col-sm-4">
				<input data-ng-model="student.fatherName" type="text"
					class="form-control" name="fatherName" data-ng-required="true"
					data-ng-pattern="/^[a-zA-Z]{3,}\s[a-zA-Z]{3,}(\s[a-zA-Z]{3,})?$/" />
				<div
					data-ng-show="form.fatherName.$dirty && form.fatherName.$invalid"
					class="text-danger">
					<span data-ng-show="form.fatherName.$error.required">Please&nbsp;enter&nbsp;a&nbsp;name</span>
					<span data-ng-show="form.fatherName.$error.pattern">This&nbsp;is&nbsp;not&nbsp;a&nbsp;valid&nbsp;name</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="gender" class="control-label col-sm-2 col-sm-offset-3">GENDER
			</label>
			<div class="col-sm-4">
				<select class="form-control" data-ng-model="student.gender"
					name="gender" data-ng-required="true">
					<option value=""></option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
				<div data-ng-show="form.gender.$dirty && form.gender.$invalid"
					class="text-danger">
					<span data-ng-show="form.gender.$error.required"
						class="text-danger">Please&nbsp;select&nbsp;a&nbsp;genre</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="department"
				class="control-label col-sm-2 col-sm-offset-3">DEPARTMENT</label>
			<div class="col-sm-4">
				<select class="form-control" data-ng-model="student.department.id"
					name="department" data-ng-required="true"
					data-ng-options="department.id as department.title for department in departments">
				</select>
				<div
					data-ng-show="form.department.$dirty && form.department.$invalid"
					class="text-danger">
					<span data-ng-show="form.department.$error.required"
						class="text-danger">Please&nbsp;select&nbsp;a&nbsp;department</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="yearOfStudy"
				class="control-label col-sm-2 col-sm-offset-3">YEAR&nbsp;OF&nbsp;STUDY</label>
			<div class="col-sm-4">
				<input data-ng-model="student.yearOfStudy" type="text"
					class="form-control" name="yearOfStudy" data-ng-required="true"
					data-ng-pattern="/^[1-5]$/" />
				<div
					data-ng-show="form.yearOfStudy.$dirty && form.yearOfStudy.$invalid"
					class="text-danger">
					<span data-ng-show="form.yearOfStudy.$error.required"
						class="text-danger">Please&nbsp;enter&nbsp;a&nbsp;year&nbsp;of&nbsp;study</span>
					<span data-ng-show="form.yearOfStudy.$error.pattern"
						class="text-danger">The&nbsp;year&nbsp;must&nbsp;be&nbsp;between&nbsp;1&nbsp;and&nbsp;5</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="dateOfBirth"
				class="control-label col-sm-2 col-sm-offset-3">DATE&nbsp;OF&nbsp;BIRTH&nbsp;(dd-MM-yyyy)</label>
			<div class="col-sm-4">
				<input data-ng-model="student.dateOfBirth" type="text"
					data-ng-pattern="/^\d{2}-\d{2}-\d{4}$/" class="form-control"
					name="dateOfBirth" data-ng-required="true" />
				<div
					data-ng-show="form.dateOfBirth.$dirty && form.dateOfBirth.$invalid"
					class="text-danger">
					<span data-ng-show="form.dateOfBirth.$error.required">Please&nbsp;enter&nbsp;a&nbsp;date</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="address" class="control-label col-sm-2 col-sm-offset-3">ADDRESS
			</label>
			<div class="col-sm-4">
				<input data-ng-model="student.address" type="text"
					class="form-control" name="address" data-ng-required="true"
					data-ng-pattern="/^[a-zA-Z0-9\s\,]{10,}$/" />
				<div data-ng-show="form.address.$dirty && form.address.$invalid"
					class="text-danger">
					<span data-ng-show="form.address.$error.required">Please&nbsp;enter&nbsp;a&nbsp;address</span>
					<span data-ng-show="form.address.$error.pattern">This&nbsp;is&nbsp;not&nbsp;a&nbsp;valid&nbsp;address</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-5">
				<button class="btn btn-default" data-ng-click="saveStudent(student)"
					data-ng-disabled="form.$invalid" data-ng-hide="student.id">Save</button>
				<button class="btn btn-default"
					data-ng-click="updateStudent(student, student.id)"
					data-ng-disabled="form.$invalid" data-ng-show="student.id">Update</button>
			</div>
		</div>
	</form>
</div>

